:root {
    --color1: #8080FF;
    --color2: #FFAD76;
    --size: 80px;
    --pawnSize: calc(var(--size) * 0.666);
}

html, body {
    margin: 0;
    padding: 100;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100vw;
    
    background-color: #25242D;
}


#gridContainer {
    position: relative;
    height: calc(var(--n-rows) * var(--size));
    width: calc(var(--n-cols) * var(--size));
}

/* GRID */
.position{

    position:absolute;

    --row: 0;
    --col: 0;

    width: var(--size);
    height: var(--size);

    top: calc(var(--size) * var(--row));
    left: calc(var(--size) * var(--col));
}

.gridElement {
    background-color: aliceblue;
    border-radius: .6em;
    box-shadow: inset 0 0 0 .3em #25242D;
    transition: background-color 0.1s;
}

.wall {
    background-color: red;
    /* background-color: var(--color1); */
}

.case{
    background-color:var(--color2);

}

.player {
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;

    --color: #8080FF;
}

.player .navigation-system {

    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    /* background: red; */
}

/* .player:hover .navigation-system {
    opacity: 1;
    
} */

.navigation-arrow {
    position: absolute;
    width: var(--size);
    height: var(--size);
    transform: translate(-100%,-100%);
    background:var(--color1);
    border-radius: .6em;
    box-shadow: inset 0 0 0 .3em #25242D;
    transition: background-color 0.1s;
    opacity: 0.5;
}
.up{
    top:0;
    left:var(--size);
    
}
.down{
    top:calc(2*var(--size));
    left:var(--size);
    
}
.left{
    top:var(--size);
    left:0;
    
}
.right{
    top:var(--size);
    left:calc(2*var(--size));
    
}

.player1 {
    --color: red;
}

.player .draw {
    width: 66%;
    height: 66%;
    border-radius: 50%;
    background-color: var(--color);
    pointer-events: none;
}

/* #template {

} */

.hidden {
    display: none;
}



/* div.pawn {
    position: absolute;
    z-index: 100;
    display: inline-block;
    width: var(--pawnSize);
    height: var(--pawnSize);
    border-radius: 50%;
    vertical-align: middle;
    background-color: #8080FF;
}
div.pawn.pawn0 {
    background-color: #8080FF;

}
div.pawn.pawn1 {
    background-color: rgb(51, 25, 25);
}
div.pawn.shadow {
    opacity: 0.3;
} */

/*

exemple de nom à pas faire
.petitCarre{
    opacity: 0;
}
*/
